#center {
  padding: 150px 2vw 100px 2vw;
  & > h1 {
    color: #f6be25;
    font-size: 45px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 70px;
    & > span {
      color: #1b1464;
      font-weight: 600;
    }
  }
}

.center-inside {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  & > div {
    padding: 50px;
    padding-bottom: 75px;
    text-align: center;
    border-color: rgba(56, 53, 53, 0.315) !important;
    position: relative;
    & > h2 {
      transition: color 0.3s ease;
      margin-bottom: 5px;
    }
    &:hover h2 {
      color: #f6be25;
    }
    & > p {
      margin-bottom: 5px;
    }
    & > a {
      padding: 7px 0;
      width: 100px;
      border-radius: 18px;
      background: rgba(30, 55, 153, 0.726);
      color: #fff;
      position: absolute;
      bottom: 25px;
      left: 50%;
      transform: translateX(-50%);
      box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.11);
      font-weight: 500;
      transition: 0.3s ease;
      &:hover {
        background: linear-gradient(
          to left,
          #f6be25,
          rgba(255, 222, 89, 0.808)
        );
        color: black;
      }
    }
  }
  & > div:nth-child(1),
  & > div:nth-child(2),
  & > div:nth-child(3),
  & > div:nth-child(4),
  & > div:nth-child(5),
  & > div:nth-child(6) {
    border-bottom: 1px solid;
  }
  & > div:nth-child(2),
  & > div:nth-child(3),
  & > div:nth-child(5),
  & > div:nth-child(6),
  & > div:nth-child(8),
  & > div:nth-child(9) {
    border-right: 1px solid;
  }
}

@media only screen and (max-width: 750px) {
  .center-inside {
    grid-template-columns: 1fr;
    & > div {
      border: none !important;
      border-bottom: 1px solid rgba(56, 53, 53, 0.315) !important;
    }
    & > div:nth-child(9) {
      border-bottom: unset !important;
    }
  }
}
